<!-- This is the main Content area -->
	  <div class="main ng-cloak" id="main"><!-- Adding the controller( ng-controller="ActivityController") to this div/part of the page-->
	      <div class="col-md-12 tight">
		  
				<md-content>
					  <md-tabs role="tablist">
							<!-- ng-class will apply .active class to selected tab with the isSelected()  | filter:filtText-->
						  <!-- ng-click event added to the tab passing the number to the select() function -->
						   <md-tab role="presentation" ng-class="{active:isSelected(1)}"                     
							 ng-click="select(1)" aria-controls="monday"
							  role="tab" label="Monday"></md-tab>
						   <md-tab role="presentation" ng-class="{active:isSelected(2)}"
							 ng-click="select(2)" aria-controls="tuesday"
							  role="tab" label="Tuesday"></md-tab>
						   <md-tab role="presentation" ng-class="{active:isSelected(3)}"
							 ng-click="select(3)" aria-controls="wednesday"
							  role="tab" label="Wednesday"></md-tab>
						   <md-tab role="presentation" ng-class="{active:isSelected(4)}"
							  ng-click="select(4)" aria-controls="thursday"
							  role="tab" label="Thursday"></md-tab>
						   <md-tab role="presentation" ng-class="{active:isSelected(5)}"
							 ng-click="select(5)" aria-controls="friday"
							  role="tab" label="Friday"></md-tab>
					  </md-tabs>
				</md-content>

			  <div class="panel panel-info" ng-repeat="eca in data.ecas 
					| filter:searchquery | filter:{ day:filtText } | filter:filterCategory | filter: search">
				<div class="panel-heading">
				<h3 class="panel-title">{{ eca.name }}</h3>

				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#">
                         <img class="media-object img-thumbnail" ng-src={{eca.image}} alt="{{eca.name}}">
                         </a>
						</div>
						<div class="media-body">
							<p>{{ eca.desc1 }}</p>
							<p>{{ eca.desc2 }}</p>
							<p ng-show="toggleModel.id">{{ eca.desc3 }}</p>
							<p ng-show="toggleModel.id">{{ eca.desc4 }}</p>
							<p ng-show="toggleModel.id">{{ eca.desc5 }}</p>
							<p ng-show="toggleModel.id">{{ eca.desc6 }}</p>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="table-responsive">
								  <table class="table table-striped">
									  <tr>
										  <th>Price</th>
										  <th>Year-level</th>
										  <th>Time</th>
										  <th>
											  <md-button ng-click="toggleModel(eca.id)" ng-model="eca.id"
												ng-true-value="true" ng-false-value="false" md-no-ink class="md-primary">
												{{ toggleModel.id ? 'Hide Details' : 'Show Details'}}
											  </md-button>
									  	  </th>
									  </tr>
									  <tr>
										  <td>{{ eca.price }}</td>
										  <td>{{ eca.grade }}</td>
										  <td>{{ eca.time }}</td>
										  <td><md-button ng-click="addEca(eca, myEcas)" 
										class="md-raised md-primary pull-right">Add this &raquo;</md-button></td>
									  </tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<p ng-show="(data.ecas | filter:searchquery | filter:{ day:filtText }
			| filter:filterCategory | filter:search).length==0">There are no results for this search</p>
			  
		</div>
	</div><!-- End Page -->