<div>
	<div class="demo">
		<div>
			<div>
			  <md-checkbox type="checkbox" class="md-primary" checked="true" style="width: 48%; margin: 0 auto;"
					 id="free" ng-model="search.currency" ng-true-value="" ng-false-value="'THB'">
				   Free
				</md-checkbox>
			  <md-checkbox type="checkbox" class="md-primary" checked="true" style="width: 48%; margin: 0 auto;"
						 id="paid" ng-model="search.price" ng-true-value="" ng-false-value="'Free'">
					Paid
			  </md-checkbox>
			</div>
		</div>
		<hr />
			<!--	 ng-model="search.price" ng-true-value="" ng-false-value="free"> -->	
		<h4>Categories</h4>
		<div flex="100">
		  <div>
			<!--
			  In IE, we cannot apply flex directly to <fieldset>
			  @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
			-->
			<fieldset class="standard">

			  <div layout="row" layout-wrap="" flex="">
				<div flex="100" ng-repeat="eca in data.ecas | unique: 'category' as results">
				  <md-checkbox ng-checked="exists(eca, selected)" ng-click="toggle(eca, selected)">
					{{ eca.category }} <span ng-if="exists(eca, selected)"></span>
				  </md-checkbox>
				</div>
			  </div>
			</fieldset>
		  </div>
		</div>
		<!--	<hr />
		<h5>Active filters</h5>
	
		<div class="col-xs-12">			
          <h5>Active filters</h5>
          <pre>{{selected | json}}</pre>
        </div>
		
		<div class="col-xs-12">
          <h5>myEcas</h5>
          <pre>{{ myEcas }}</pre>
        </div>
		
	<ul>
		<li><small>{{ filtText }}</small></li>
		<li ng-repeat="category in selected"><small>{{ category }}</small></li>
	</ul>
		-->
	<div>
	  <button class="btn btn-warning btn-block" ng-click="uncheckAll()"
		   id="clear"><i class="fa "></i> Clear filters
	  </button>
	  <label class="btn btn-primary btn-block" ng-click="checkAll()" 
		   name="free"><i class="fa "></i> Check all
	  </label>

	</div>
	
<!--
	<button ng-click="uncheckAll()">clear</button>
	<button ng-click="checkAll()">check</button>
	

<p></p>
		 <md-button class="md-raised md-primary">Primary</md-button>
	
	<button ng-click="log()" style="margin-right: 10px">log object</button><br />
-->
<!--		<label>Paid
			<input type="checkbox" ng-model="search.price" ng-true-value="" ng-false-value="'Free'">
		</label>
		<label>Free
			<input type="checkbox" ng-model="search.currency" ng-true-value="" ng-false-value="'THB'">
		</label> -->
<!--	
</div>

<label class="md-checkbox block" ng-show="cost == 'Yes'" ng-repeat="eca in data.ecas | unique: 'category' as results">
				<input class="md-checkbox block" type="checkbox" id="{{eca.category}}" checklist-model="categories"
					checklist-value="eca.category" ng-checked="true"/> 
			<span class="md-checkbox--fake"></span>
			<div>
				{{ eca.category }}
			</div>
		</label>
-->