<div>
	<div class="demo">
		
		<label class="md-checkbox block" ng-repeat="eca in data.ecas | unique: 'category' as results">
				<input class="md-checkbox block" type="checkbox" id="{{eca.category}}" checklist-model="categories"
					checklist-value="eca.category" ng-checked="true"/> 
			<span class="md-checkbox--fake"></span>
			<div>
				{{ eca.category }}
			</div>
		</label>
		
		<div class="col-xs-12">
          <h3>categories</h3>
          <pre>{{categories | json}}</pre>
        </div>
		
		
	<p>1 {{ data.year }}</p>
	<p>2 {{ info.year }}</p>
	
	<p>3 {{ data.ecas[0].category }}</p>
	<p>4 {{ info.ecas[0].category }}</p>
	
	<button ng-click="checkFirst()">Check first</button>
		
	<button ng-click="checkAll()">Check all</button>
		
	<button ng-click="uncheckAll()">Uncheck all</button>
	
	<button ng-click="log()" style="margin-right: 10px">log object</button>
	
	
</div>


