<!-- This is the right sidebar for XL screen-->
		  <div class="visible-lg" id="sidebar-right">
		      <div class="col-md-12">
		        <h3>My short list</h3>
						<div class="panel-group" id="accordion-sample">
							<div class="panel panel-info" ng-repeat="weekday in data.ecas | unique: 'day' as daysResults ">
								<div class="panel-heading">
									<h4 class="panel-title">
										{{weekday.day}}										
									</h4>
								</div>
								<div id="accordion-tuesday">
									<div class="panel-body">
										
										<div ng-repeat="activity in myEcas | filter: {day : weekday.day} as day">
										
											<p>{{ activity.name }}</p>
										</div>
										
										<div ng-if="day.length > 1" class="alert alert-warning alert-dismissible" role="alert">
										    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											   <span aria-hidden="true">&times;</span>
											</button>
										    <strong>Notice!</strong> You have overlapping activities!
										</div>										
									</div>
								</div>
							</div>

							<!--
							<div class="panel panel-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										Tuesday										
									</h4>
								</div>
								<div id="accordion-tuesday">
									<div class="panel-body">
										
										<div ng-repeat="activity in myEcas | filter : {day : 'Tuesday'} as tuesday">
										
											<p>{{ activity.name }}</p>
										</div>
										
										<div ng-if="tuesday.length > 1" class="alert alert-warning alert-dismissible" role="alert">
										    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											   <span aria-hidden="true">&times;</span>
											</button>
										    <strong>Notice!</strong> You have overlapping activities!
										</div>										
									</div>
								</div>
							</div>
							
							<div class="panel panel-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-wednesday">
											Wednesday
										</a>
									</h4>
								</div>
								<div id="accordion-wednesday" class="panel-collapse collapse">
									<div class="panel-body">
										
										<div ng-repeat="activity in myEcas | filter : {day: 'Wednesday'} as wednesday">
										
											<p>{{activity.name}}</p>
										</div>
										
										<div ng-if="wednesday.length > 1" class="alert alert-warning alert-dismissible" role="alert">
										    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											   <span aria-hidden="true">&times;</span>
											</button>
										    <strong>Notice!</strong> You have overlapping activities!
										</div>										
									</div>
								</div>
							</div>
							
							<div class="panel panel-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-thursday">
											Thursday
										</a>
									</h4>
								</div>
								<div id="accordion-thursday" class="panel-collapse collapse">
									<div class="panel-body">
										
										<div ng-repeat="activity in myEcas | filter : {day: 'Thursday'} as thursday">
										
											<p>{{activity.name}}</p>
										</div>
										
										<div ng-if="thursday.length > 1" class="alert alert-warning alert-dismissible" role="alert">
										    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											   <span aria-hidden="true">&times;</span>
											</button>
										    <strong>Notice!</strong> You have overlapping activities!
										</div>										
									</div>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-friday">
											Friday
										</a>
									</h4>
								</div>
								<div id="accordion-friday" class="panel-collapse collapse">
									<div class="panel-body">
										
										<div ng-repeat="activity in myEcas | filter : {day: 'Friday'} as friday">
										
											<p>{{activity.name}}</p>
										</div>
										
										<div ng-if="friday.length > 1" class="alert alert-warning alert-dismissible" role="alert">
										    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
											   <span aria-hidden="true">&times;</span>
											</button>
										    <strong>Notice!</strong> You have overlapping activities!
										</div>										
									</div>
								</div>
							</div> -->
							
							
						</div>
		      </div>
			  	
		  </div>
